.navbar-container{
    background-color: #112054;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.logo-navbar{
    width: 150px;
    margin: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn-navbar{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-right: 60px;
    font-size: 15px;
    background-color: transparent;
    border-color: transparent;
    color:white;
}

.btn-navbar:hover{
    color: cornflowerblue;
}

@media (max-width:768px) {
    .btn-navbar{
        display: flex;
        align-items: center;
        padding: 5px 5px;
        margin-right: 8px;
        font-size: 12px;
        border-radius: 5px;
        border-color: transparent;
        background-color: transparent;
        color: white;
    }

    .btn-navbar:hover{
        color: cornflowerblue;
    }

    .logo-navbar{
        width: 120px;
        margin: 20px;
    }
}