.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b92b27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1565C0, #b92b27); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f4b90, #a02420); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 350px;
    margin: 120px auto 0;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 15px;
}

.column {
    flex-basis: 50%;
    /* Estilos adicionales para las columnas */
}

#left {
    padding: 10px;
}

#rigth {
    display: grid;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    display: grid;
}

.btn {
    padding: 8px 40px;
    border-radius: 20px;
    background-color: rgb(42, 165, 33);
    border-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-showpassword {
    background-color: transparent;
    padding: 5px;
    border-color: transparent;
    color: blue;
}

.input-email,
.input-password {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(211, 211, 211);
}

.label-email {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.label-password {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.email-container {
    margin-top: 30px;
}

.password-container {
    margin-top: 30px;
}
